.advertising, .ad-desktop, .ad-mobile, .ad-container, .ads, iframe {
    display: none !important;
    visibility: hidden !important;
}


[id^=google_ads_iframe], [id^=ads-sidebar], [id^=container-00e], [id^=container-ed], [id^=marketing_] {
    display: none !important;
    visibility: hidden !important;   
}

/* Youtube */
#player-ads {
    display: none !important;
    visibility: hidden !important;
}

.video-ads .ytp-ad-overlay-slot {
    display: none !important;
    visibility: hidden !important;
}

/* Google */
#main #cnt #taw {
    display: none !important;
    visibility: hidden !important;
}
#main #cnt #extrares {
    display: none !important;
    visibility: hidden !important;
}

/* DuckDuckGo */
#ads, .js-sidebar-ads {
    display: none !important;
    visibility: hidden !important;
}
