.advertising {
    display: none !important;
    visibility: hidden !important;
}

.ad-container {
    display: none !important;
    visibility: hidden !important;   
}

/* Youtube */
#player-ads {
    display: none !important;
    visibility: hidden !important;
}

.video-ads .ytp-ad-overlay-slot {
    display: none !important;
    visibility: hidden !important;
}

/* Google */
#main #cnt #taw {
    display: none !important;
    visibility: hidden !important;
}
#main #cnt #extrares {
    display: none !important;
    visibility: hidden !important;
}

